/* CSS Document for CMWEB Student Site - Version 12.20.825.0
By Nazmus Shakib Khandaker*/

/*In the name of Allah, the Most Gracious, the Most Merciful*/

*{
	margin: 0;
	padding: 0;
}

/* CSS */

body {
	color: #252526;
	background-color: #eeeef2;
	font-family: Helvetica, Arial;
	font-size: 24px;
	
	line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6{
	padding: 20px 0;
	line-height: 1.3em;
}

a{
	color: #252526;
	text-decoration: none;
}

p {
	color: #252526;
	
	padding: 0px 0px 40px 0px;

}

ul{
	padding: 0px 0px 20px 40px
}

li{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: dotted;
	border-color: slategrey;
	margin: 0%;
}

br{
	padding: 20px 0px;
}

hr{
	padding: 20px 0px;
}

table{
	color: #542872;
	margin-left: auto;
	margin-right: auto;
	width: 90%; 
}

table, th, td{
	border-collapse: collapse;
	padding: 10px;
	
	vertical-align: top;
}

/* CSS > CLASSES > Containers */

.container, .container-section-dark, .container-section-grey{
	padding: 1em;
}

.container-section-dark{
	color: #eeeef2;
	background-color: #252526;
}

.container-section-dark p{
	color: #eeeef2;
}

.container-section-dark a{
	color: lavenderblush;
}

.container-section-grey{
	background-color: #b5b5b5;
}

/* CSS > CLASSES > Tables */
.table-lavender table, .table-lavender tr, .table-lavender td{
	border: 1px solid black;
	border-width: 1.5px;
}

.table-lavender tr:nth-child(even){
	background-color: lavender;
}

.cell-lavender{
	background-color: rebeccapurple;
	color: lavender;
}
