/* CSS Document */

h1{
	color: lightskyblue;
}

h2{
	color: lightskyblue;
}

body {
	color: lavender;
	background-color: #1E1E1E;
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	line-height: 1.6em;
}

a:link{
		color: lightskyblue;
}
a:visited{
	color: lightblue;
}

/* Classes */
.menu{
	font-family: Helvetica, Arial;
	font-size: 24px;
	line-height: 1.3em;
	margin: 0;
	
}

.container{
	margin:auto;
	width: 80%;
}

/* IDs */
#Bismillah{
	color: #D4D4D4
}
#preface{
	color: lightpink;
}
#license{
	
}