/* CSS Document for CMWEB110 - Version 7.20.507.2
By Nazmus Shakib Khandaker*/

*{
	margin: 0;
	padding: 0;
}

body {
	color: lavender;
	background-color: #1E1E1E;
	
	font: normal 24px "Helvetica", "Arial", "sans-serif";
	line-height: 1.6em;
}

h1{
	color: lightskyblue;
	padding: 40px 0px 0px 0px;
	line-height: 1.3em
}

h2{
	color: lightskyblue;
	padding: 40px 0px 0px 0px;
}

p{
	padding: 20px 0;
}

ul{
	padding: 0px 0px 20px 40px
}

br{
	padding: 20px 0px
}

a:link{
	color: lightskyblue;
	text-decoration: none;
}

a:hover{
	text-decoration: underline
}

table{
	color: #542872;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

table, th, td{
	border-collapse: collapse;
	padding: 10px;
}

/* Classes */

.resize-100-percent{
	width: 100%;
	height: auto;
	
	box-sizing: border-box;
}

.content-section-grey{
	background-color: #b5b5b5;
	color: #252526;
	
	padding: 0px 0px;
}

/* CLASSES */
.content-section-grey h1{
	color: #252526;
}

.content-section-grey h2{
	color: #252526;
}

.content-section-grey a:link{
	color: #252526;
}
.content-section-grey a:visited{
	color: #252526
}

.content-section-light{
	background-color: #eeeef2;
	color: #252526;
	
	padding: 40px 0px;
}

.content-section-light h1{
	color: #252526;
}

.content-section-light h2{
	color: #252526;
}

.content-section-light a:link{
	color: firebrick;
}

.content-section-light a:visited{
	color: firebrick;
}

.container{
	margin:auto;
	width: 80%;
	
}

.container-wide{
	margin:auto;
	width: 90%;
	padding: 40px;
}

.container-center{
	text-align: center;
}

.table-lavender table, .table-lavender tr, .table-lavender td{
	border: 1px solid black;
	border-width: 1.5px;
}

.table-lavender tr:nth-child(even){
	background-color: lavender;
}

.table-lime table, .table-lime tr, .table-lime td{
	border: 1px solid rebeccapurple;
	border-width: thick
}

.table-lime tr:nth-child(odd){
	background-color: #EFFFBF;
}

.table-lime tr:nth-child(even){
	background-color: #FBFFF2;
}

.cell-lavender{
	background-color: rebeccapurple;
	color: lavender;
}

.cell-picure{
	color: white;
	text-shadow: 1px 1px 3px #292929;
	background-image: url(../../assets/images/background2.png);
}

.button, .button-ornate{
	background-color:#333333;
	color: #FFFFFF;
	padding: .6em 1.6em;
	border: none;
	border-radius: 0;
	margin: 1em 1em 1em 0em;
}

.button:hover, .button-ornate:hover{
	background-color:firebrick;
	color: #FFFFFF;
}

.button-ornate{
	border-radius: 75px;
	box-shadow: 1px 1px 3px #292929;
}

.menu{
	font-family: Helvetica, Arial;
	line-height: 1.3em;
	margin: 0;
	
	background-color: #A4A4A4;
	
	border-top: 3px red solid;
	padding: 0px 40px;
}

.menu a:hover{
	color: firebrick;
	text-decoration: none;
}

.menu ul{
	list-style:none;
}

.menu li{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: solid thin;
	border-color: #252526;
	margin: 0% 90% 0% 0%;
}

.feedback-form{
	padding: 20px;
	font-size: 18px;
	
}

.feedback-form .form-group{
	padding-bottom: .625em;
	
}

.feedback-form label{
	padding-bottom: 1.6em;
	margin-right: 2em;
	margin-left: .5em;
}

.feedback-form input[type="text"], input[type="email"], textarea{
	padding: .8em;
	width: 100%;
	display: block;
}

.feedback-form textarea{
	height: 6em;
}

/* IDs */
#Bismillah{
	color: #555555;
	font-style: italic
}

#license{
	
}

/*Last Updated on May 7, 2020*/
